body {
    font-weight: 300px;
    font-family: Arial, sans-serif;
}

img {
    max-width:100%;
    height: auto;
    }

a {
    transition: 0.5s;
}
.col-lg-4 .col-md-6 .col-sm-12 {
    margin: 20px;
}

.loginForm {
    color:aqua;
}

.card-text {
    text-align: left;
}

.headtitle {
    background-color: #000080;
}

.headtitle h2 {
    color: rgb(255, 255, 255);
    text-align: center;
}

.card-body img {
  max-width: 20px;
  height: 20px;
  margin: 0 auto 15px;
}